@import './component/HomePage';
@import './component/FooterComponent';
@import './button//btnsign';
@import './page/login';
@import './reponsive/admin';
@import './component/TableAdmin';
@import './component/Content';
@import './component/Icon';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }