.content-container {
  .icon-container {
    .icon-frame {
      padding: 10px;
      margin: 5px;
      display: inline-block;
    }
  }

  .ant-carousel .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control-prev,
  .carousel-control-next {
    z-index: 1000;
    color: #ff6347;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: none;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(255, 255, 255, 1); // Nền đậm khi hover
  }

  .icon-text {
    color: #999;
    transition: color 0.3s;

    &:hover {
      color: #000;
    }
  }

  .location-card,
  .accommodation-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    p {
      margin: 5px 0;
      font-weight: bold;
    }

    small {
      display: block;
      color: #666;
      font-size: 0.9em;
    }

    img {
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  h4 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }

  .row {
    margin: 0;
    justify-content: center;
    padding: 20px 0;
  }

  .accommodation-card {
    border: 2px solid #ff6347;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }
  }

  .map-location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 0 auto;

    .col-md-3 {
      flex: 0 0 23%;
      margin: 15px;
      max-width: 25%;
    }

    .accommodation-card {
      flex: 0 0 25%;
      border: 2px solid #ff6347;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.2s;

      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      }

      img {
        height: 220px;
        object-fit: cover;
      }

      p {
        font-size: 1.2em;
        margin-top: 10px;
      }
    }
  }
}
