.header {
  background-color: #000;
  padding: 10px 0;

  .navbar-brand {
    display: flex;
    align-items: center;
    color: #fa5d5d;

    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    span {
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  .nav-link {
    color: #fff;
    &:hover {
      color: #fa5d5d;
    }
  }

  .user-icon {
    font-size: 1.5rem;
    color: #fa5d5d;
  }
}